*{
    margin: 0px;
    padding: 0px;
}

body{

font-family: 'Poppins';

}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.1);
}

.section-img{
    width: 520px;
    height: 100vh;
    padding: 9px;
   
   

}

.section-text{
 margin-left: 120px;
}

.h1{
    color: #272727;
    font-size: 50px;
    font-weight: 800;

}

.p1{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
   
}

.btn{
    color: #FFF;
   font-size: 20px;
   font-weight: 700;
   border-radius: 8px;
   background: #E55473;
   padding: 20px 43px;
   align-items: center;
   gap: 10px;
}

.flower-title{
    text-align: center;
}

.h2{
    color: #272727;
   font-size: 40px;
   font-weight: 800;
   margin-top: 70px;
}

.p2{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.flower-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
    padding: 10px;
    gap: 60px;
}

.fig-cap{
    color: #272727;
    text-align: center;
   font-size: 24px;
   font-weight: 700;
   text-decoration: underline;
   
}

.img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img3{
    border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
}

.img11{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}

.delivery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 260px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 130px;
    text-align: center;
    border-radius: 8px;

}

.rd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 470px;

}

.col{
    color: rgba(229, 84, 115, 1);
}

.insta{
    text-align: center;
}

.flower{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 70px;
    gap: 10px;
}

.button{
    display: flex;
    justify-content: center;
    gap: 30px;
    border-radius: 5x;
    position: absolute;
    top: 8px;
    right: 16px;
}

.container{ 
    background-image: url('./asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 85%;
    margin: auto;
    height: 310px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}

.text{
    
}

.btnn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    align-items: center;
    gap: 20px;
    height: 64px;
}

.box{
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}

footer{
    background-color: black;
    height: 300px; 
}

.foot{
    align-items: center;
    text-align: center;
   padding-top: 50px;
    
}
